<script>
  StoryController.index();
</script>

<style>
	.story-item {
		padding: 5px;
		height: 63px;
		text-align: top;
	}
	.story-item strong {
		color: #3F6C94;
	}
	.story-image {
		float: left;
		height: 55px;
		width: 49px;
		padding-right: 10px;
		padding-top: 3px;
	}
</style>

<div class="topcoat-list__container">
  <ul class="topcoat-list">
    <li class="topcoat-list__item opensLayer story-item" data-location="/views/story/show.html?id=1">
      	<img class="story-image" src="/images/phantom_thumb.jpg"></img>
  	  	<strong>Haunted Harrisburg</strong> <br/>
  	  	What I can only describe as a phantom appeared directly in front of me...<br/>
    </li>
    <li class="topcoat-list__item opensLayer story-item" data-location="/views/story/show.html?id=2">
      	<img class="story-image" src="/images/liver_thumb.jpg"></img>
  	  	<strong>I woke up without my organs</strong> <br/>
  	  	And you thought you had a bad day. Ice on the inside of your body is...
    </li>
    <li class="topcoat-list__item opensLayer story-item" data-location="/views/story/show.html?id=3">
      	<img class="story-image" src="/images/apple-snitch_thumb.jpg"></img>
  	  	<strong>Albatwitch</strong> <br/>
  	  	Two indepdent sitings suggest a small, hairy creature known as an...
    </li>
    <li class="topcoat-list__item opensLayer story-item" data-location="/views/story/show.html?id=4">
      	<img class="story-image" src="/images/getisburg_thumb.jpg"></img>
  	  	<strong>Battle of Gettysburg</strong> <br/>
  	  	Experience the battle like never before. Human triumph and descruct...
    </li>
  </ul>
</div>